.primary-color-bg {
  background-color: #233247 !important;
}

.primary-color-text {
  color: #233247 !important;
}

.secondary-color-text {
  color: #ffd11d !important;
}

.secondary-color-bg {
  background-color: #ffd11d !important;
}

nav .ul {
  margin-left: 300px !important;
}

.section-intro {
  min-height: 600px;
  background-color: #f4f4f4;
}

.section-info {
  min-height: 600px;
}

.section-shops {
  min-height: 600px;
  padding: 30px;
}

.section-safety {
  min-height: 600px;
  padding: 30px;
}

.rate-of-growth-graph {
  min-height: 300px !important;
}

.google-maps {
  background-color: white;
  min-height: 400px;
}
